* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #043044;
}

.hero {
  height: 800px;
  background-image: url(img/wallpaper.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-content {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

.video-placeholder {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  bottom: 2rem;
}

.video-placeholder iframe {
  width: 100%;
  height: 400px;
}

.button {
  display: inline-block;
  background-color: #ff8c00;
  color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 25px 100px;
  font-size: 40px;
  position: relative;
  z-index: 10;
  bottom: 2rem;
}

.button:hover {
  color: #ffffff;
  text-decoration: none;
}

.map-icon {
  width: 9%;
}

#como-funciona {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 60px;
}

#como-funciona .container h2 {
  color: #043044;
  font-size: 36px;
  font-weight: bold;
}

#como-funciona ol {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#como-funciona li {
  background-color: #043044;
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.5rem;
  padding: 20px 35px;
  width: calc(100% - 50px);
}

#depoimentos {
  padding: 80px 0;
  text-align: center;
  background: #00ff85;
}

#depoimentos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#depoimentos h2 {
  font-size: 36px;
  font-weight: bold;
  color: #043044;
  margin-bottom: 20px;
  width: 100%;
}

iframe {
  width: 1000px;
  height: 500px;
  padding: 40px;
}

.button-depoimento {
  display: inline-block;
  background-color: #ff8c00;
  color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 30px 40px;
  font-size: 30px;
  z-index: 10;
  position: relative;
  bottom: 1rem;
}

.button-depoimento:hover {
  color: #ffffff;
  text-decoration: none;
}

#garantia {
  background-color: #043044;
  padding: 80px;
  text-align: center;
}

.medal-icon {
  width: 12%;
  position: relative;
  transform: translateY(-22px);
}

.title-1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.paragraph {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
}

#introducao-cta {
  background-color: #00ff85;
  text-align: center;
  height: 1000px;
  padding: 40px;
}

#introducao-cta .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
}

#introducao-cta .container p {
  font-size: 26px;
  color: #043044;
  text-align: center;
}

.title-2 {
  font-size: 48px;
  color: #043044;
  font-weight: bold;
}

.container,
.cta-card {
  overflow: hidden;
}

.cta-content .title-3 {
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.benefits-list {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  text-align: left;
  font-size: 24px;

  align-items: center;
}

.benefits-list li {
  display: flex;
  align-items: center;
}

.benefits-list li::before {
  content: "✔️";
  color: #ffffff;
  margin-right: 8px;
}

.cta-p {
  color: #ffffff;
  font-size: 26px;
}

.cta-pricing {
  font-size: 58px;
  color: #00ff85;
}

.cta-price {
  color: #ffffff;
  font-size: 26px;

}

.cta-card {
  background-color: #043044;
  border-radius: 50px;
  width: 600px;
  height: auto;
  text-align: center;
  color: var(--white);
  margin: 20px auto;
  height: 750px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cta-button {
  display: inline-block;
  background-color: #ff8c00;
  color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 15px 25px;
  font-size: 44px;
  font-weight: bold;
  position: relative;
  z-index: 10;
}

.cta-button:hover {
  text-decoration: none;
  color: #ffffff;
}

.cta-payment-methods img {
  max-width: 600px;
  position: relative;
  bottom: 8rem;
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.button,
.cta-button,
.whatsapp-icon,
.button-depoimento {
  animation: pulsar 1.5s infinite;
}

#contato-suporte {
  background-color: #072b24;
  text-align: center;
  color: #ffffff;
  max-width: 100vw;
  max-height: 100vh;
  padding: 20px;
}

#contato-suporte h2 {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
}

#contato-suporte p {
  font-size: 16px;
}

.whatsapp-icon {
  display: inline-block;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s;
  position: relative;
  bottom: 5px;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
}

#rodape {
  background: #072b24;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#rodape .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

#rodape ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

#rodape a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
}

@media (max-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .hero {
    max-width: 100vw;
    height: 65vh;
    background-image: url('img/wallpaper.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  .hero-content {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content .headline {
    padding: 14px;
    font-size: 16px;
    position: relative;
    max-width: 100%;
  }

  .video-placeholder {
    max-width: 100%;
  }

  .hero-content .video-placeholder iframe {
    height: 210px;
    width: 100%;
  }

  .hero-content .button {
    padding: 15px 20px;
    font-size: 16px;
    max-width: 100%;
    box-sizing: border-box;
  }

  #como-funciona .map-icon {
    width: 20%;
    overflow: hidden;
  }

  #como-funciona {
    padding: 20px;
    max-width: 100%;

  }

  #como-funciona .container h2 {
    font-size: 24px;
    overflow: hidden;
  }

  #como-funciona li {
    font-size: 12px;
    padding: 15px 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }

  #depoimentos {
    padding: 40px;
    max-width: 100%;
  }

  #depoimentos h2 {
    font-size: 16px;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 100px;
    padding: 0;
  }

  #depoimentos .button-depoimento {
    padding: 16px 10px;
    font-size: 10px;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 4px;
  }

  #garantia {
    padding: 30px;
    max-width: 100%;
  }

  #garantia .medal-icon {
    width: 40%;
    padding-top: 22px;

  }

  #garantia .title-1 {
    font-size: 24px;
    overflow: hidden;

  }

  #garantia .paragraph {
    font-size: 18px;
    max-width: 100%;
  }

  #introducao-cta {
    padding: 30px;
    height: 100%;

  }

  #introducao-cta .container p {
    font-size: 14px;
    position: relative;
    right: 20px;
  }

  .title-2 {
    font-size: 22px;
    overflow: hidden;
    position: relative;
    right: 20px;
  }

  #introducao-cta,
  .cta-card,
  .cta-content,
  .benefits-list,
  .cta-pricing {
    overflow: hidden;
  }

  .cta-card {
    height: 97vh;
    padding: 20px;
    border-radius: 20px;
    max-width: 100%;


  }

  .cta-card .cta-content .title-3 {
    font-size: 20px;
    overflow: hidden;
  }

  .cta-card .cta-content .benefits-list {
    font-size: 15px;
    padding: 4px;
  }

  .cta-card .cta-content .cta-button {
    padding: 10px 15px;
    font-size: 18px;

  }

  .cta-payment-methods img {
    max-width: 100%;
    position: relative;
    bottom: 3rem;
  }

  #contato-suporte {
    padding: 8px;
    max-width: 100%;
  }

  #contato-suporte h2 {
    font-size: 20px;
  }

  #contato-suporte p {
    font-size: 14px;
  }

  .contato-card .whatsapp-icon {
    top: 2px;
  }

  #rodape a {
    font-size: 6px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .hero {
    max-width: 100vw;
    height: 65vh;
    background-image: url('img/wallpaper.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  .hero-content {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content .headline {
    padding: 14px;
    font-size: 19.5px;
    position: relative;
    max-width: 100%;
  }

  .video-placeholder {
    max-width: 100%;
  }

  .hero-content .video-placeholder iframe {
    height: 210px;
    width: 100%;
  }

  .hero-content .button {
    padding: 15px 20px;
    font-size: 16px;
    max-width: 100%;
    box-sizing: border-box;
  }

  #como-funciona .map-icon {
    width: 20%;
    overflow: hidden;
  }

  #como-funciona {
    padding: 20px;
    max-width: 100%;

  }

  #como-funciona .container h2 {
    font-size: 24px;
    overflow: hidden;
  }

  #como-funciona li {
    font-size: 1rem;
    padding: 15px 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }

  #depoimentos {
    padding: 40px;
    max-width: 100%;
  }

  #depoimentos h2 {
    font-size: 20px;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 150px;
    padding: 0;
  }

  #depoimentos .button-depoimento {
    padding: 10px 20px;
    font-size: 14px;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 4px;
  }

  #garantia {
    padding: 30px;
    max-width: 100%;
  }

  #garantia .medal-icon {
    width: 40%;
    padding-top: 22px;

  }

  #garantia .title-1 {
    font-size: 28px;
    overflow: hidden;

  }

  #garantia .paragraph {
    font-size: 18px;
    max-width: 100%;
  }

  #introducao-cta {
    padding: 30px;
    height: 100%;

  }

  #introducao-cta .title-2 {
    font-size: 24px;
    overflow: hidden;
    position: relative;
    right: 20px;

  }

  #introducao-cta .container p {
    position: relative;
    right: 20px;
    font-size: 18px;
  }

  #introducao-cta,
  .cta-card,
  .cta-content,
  .benefits-list,
  .cta-pricing {
    overflow: hidden;
  }

  .cta-card {
    height: 90vh;
    padding: 30px;
    border-radius: 20px;
    max-width: 100%;
  }

  .cta-card .cta-content .title-3 {
    font-size: 22px;
    overflow: hidden;
  }

  .cta-card .cta-content .benefits-list {
    font-size: 15px;
    padding: 4px;
  }

  .cta-card .cta-content .cta-button {
    padding: 10px 15px;
    font-size: 18px;

  }

  .cta-payment-methods img {
    max-width: 100%;
    bottom: 3.3rem;
  }

  #contato-suporte {
    padding: 8px;
    max-width: 100%;
  }

  #contato-suporte h2 {
    font-size: 20px;
  }

  #contato-suporte p {
    font-size: 14px;
  }

  .contato-card .whatsapp-icon {
    top: 2px;
  }

  #rodape a {
    font-size: 6px;
  }
}

@media (min-width: 376px) and (max-width: 430px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .hero {
    max-width: 100vw;
    height: 65vh;
    background-image: url('img/wallpaper.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  .hero-content {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content .headline {
    padding: 14px;
    font-size: 19.5px;
    position: relative;
    max-width: 100%;
  }

  .video-placeholder {
    max-width: 100%;
  }

  .hero-content .video-placeholder iframe {
    height: 210px;
    width: 100%;
  }

  .hero-content .button {
    padding: 15px 20px;
    font-size: 16px;
    max-width: 100%;
    box-sizing: border-box;
  }

  #como-funciona .map-icon {
    width: 20%;
    overflow: hidden;
  }

  #como-funciona {
    padding: 20px;
    max-width: 100%;

  }

  #como-funciona .container h2 {
    font-size: 24px;
    overflow: hidden;
  }

  #como-funciona li {
    font-size: 1rem;
    padding: 15px 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }

  #depoimentos {
    padding: 40px;
    max-width: 100%;
  }

  #depoimentos h2 {
    font-size: 20px;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 150px;
    padding: 0;
  }

  #depoimentos .button-depoimento {
    padding: 10px 20px;
    font-size: 14px;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 4px;
  }

  #garantia {
    padding: 30px;
    max-width: 100%;
  }

  #garantia .medal-icon {
    width: 40%;
    padding-top: 22px;

  }

  #garantia .title-1 {
    font-size: 28px;
    overflow: hidden;

  }

  #garantia .paragraph {
    font-size: 18px;
    max-width: 100%;
  }

  #introducao-cta {
    padding: 30px;
    height: 100%;

  }

  #introducao-cta .title-2 {
    font-size: 24px;
    overflow: hidden;
    position: relative;
    right: 20px;

  }

  #introducao-cta .container p {
    position: relative;
    right: 20px;
    font-size: 18px;
  }

  #introducao-cta,
  .cta-card,
  .cta-content,
  .benefits-list,
  .cta-pricing {
    overflow: hidden;
  }

  .cta-card {
    height: 90vh;
    padding: 30px;
    border-radius: 20px;
    max-width: 100%;
  }

  .cta-card .cta-content .title-3 {
    font-size: 22px;
    overflow: hidden;
  }

  .cta-card .cta-content .benefits-list {
    font-size: 15px;
    padding: 4px;
  }

  .cta-card .cta-content .cta-button {
    padding: 10px 15px;
    font-size: 18px;

  }

  .cta-payment-methods img {
    max-width: 100%;
    bottom: 3.3rem;
  }

  #contato-suporte {
    padding: 8px;
    max-width: 100%;
  }

  #contato-suporte h2 {
    font-size: 20px;
  }

  #contato-suporte p {
    font-size: 14px;
  }

  .contato-card .whatsapp-icon {
    top: 2px;
  }

  #rodape a {
    font-size: 6px;
  }
}