* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #043044;
}

.hero {
  height: 800px;
  background-image: url(img/wallpaper.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-content {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

.video-placeholder {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.video-placeholder iframe {
  width: 100%;
  height: 400px;
}

.button {
  display: inline-block;
  background-color: #ff8c00;
  color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 25px 100px;
  font-size: 38px;
  position: relative;
  z-index: 10;
}

.button:hover {
  color: #ffffff;
  text-decoration: none;
}

.map-icon {
  width: 9%;
}

#como-funciona {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

#como-funciona .container h2 {
  color: #043044;
  font-size: 36px;
  font-weight: bold;
}

#como-funciona ol {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#como-funciona li {
  background-color: #043044;
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
  padding: 20px 35px;
  width: calc(100% - 50px);
}

#depoimentos {
  padding: 60px 0;
  text-align: center;
  background: #00ff85;
}

#depoimentos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#depoimentos h2 {
  font-size: 30px;
  font-weight: bold;
  color: #043044;
}

iframe {
  width: 800px;
  height: 300px;
}

.button-depoimento {
  display: inline-block;
  background-color: #ff8c00;
  color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
  padding: 25px 30px;
  font-size: 38px;
}

.button-depoimento:hover {
  color: #ffffff;
  text-decoration: none;
}

#garantia {
  background-color: #043044;
  padding: 60px;
  text-align: center;
}

.medal-icon {
  width: 12%;
  position: relative;
  transform: translateY(-22px);
}

.title-1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
  position: relative;
}

.paragraph {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
}

#introducao-cta {
  background-color: #00ff85;
  text-align: center;
  padding: 60px;
}

#introducao-cta .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
}

#introducao-cta .container p {
  font-size: 26px;
  color: #043044;
  text-align: center;
}

.title-2 {
  font-size: 48px;
  color: #043044;
  font-weight: bold;
}

.container,
.cta-card {
  overflow: hidden;
}

.logo-campanha {
  width: 40%;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 30%;
  top: 160rem;
  z-index: 10;
}

.cta-content .title-3 {
  font-size: 48px;
  font-weight: bold;
  position: relative;
  top: 12rem;
}

.benefits-list {
  list-style-type: none;
  text-align: left;
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

.benefits-list li {
  display: flex;
  position: relative;
  top: 14rem;
}

.benefits-list li::before {
  content: "✔️";
  margin-right: 8px;
}

.cta-p {
  color: #ffffff;
  font-size: 30px;
  position: relative;
  top: 16rem;
}

.cta-pricing {
  font-size: 70px;
  color: #00ff85;
  position: relative;
  top: 16rem;
}

.cta-price {
  color: #ffffff;
  font-size: 30px;
  position: relative;
  top: 16rem;

}

.cta-card {
  background-color: #043044;
  border-radius: 50px;
  width: 600px;
  text-align: center;
  color: #ffffff;
  margin: 20px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cta-button {
  display: inline-block;
  background-color: #ff8c00;
  color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 15px 25px;
  font-size: 44px;
  font-weight: bold;
  position: relative;
  text-align: center;
  top: 18rem;
}

.cta-button:hover {
  text-decoration: none;
  color: #ffffff;
}

.cta-payment-methods img {
  max-width: 600px;
  position: relative;
  top: 11rem;
}

@keyframes pulsar {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.8);
  }
}

.button,
.cta-button,
.whatsapp-icon,
.button-depoimento {
  animation: pulsar 2s infinite;
}

#contato-suporte {
  background-color: #072b24;
  text-align: center;
  color: #ffffff;
  max-width: 100vw;
  max-height: 100vh;
  padding-top: 60px;
}

#contato-suporte h2 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

#contato-suporte p {
  font-size: 16px;
}

.whatsapp-icon {
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s;
  position: relative;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
}

#rodape {
  background: #072b24;
  color: #ffffff;
  text-align: center;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#rodape .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

#rodape ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

#rodape a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
}

@media (max-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .hero {
    width: 100vw;
    height: 65vh;
    background-image: url('img/wallpaper.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-content {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .hero-content .headline {
    overflow: hidden;
    font-size: 16px;
    max-width: 100%;
  }

  .video-placeholder {
    max-width: 100%;
  }

  .hero-content .video-placeholder iframe {
    height: 210px;
    width: 100%;
  }

  .hero-content .button {
    padding: 15px 20px;
    font-size: 18px;
    max-width: 100%;
    box-sizing: border-box;
  }

  #como-funciona .map-icon {
    width: 20%;
    overflow: hidden;
  }

  #como-funciona {
    padding: 20px;
    max-width: 100%;

  }

  #como-funciona .container h2 {
    font-size: 24px;
    overflow: hidden;
  }

  #como-funciona li {
    font-size: 12px;
    padding: 15px 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }

  #depoimentos {
    padding: 20px;
    max-width: 100%;
  }

  #depoimentos h2 {
    font-size: 16px;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 100px;
  }

  #depoimentos .button-depoimento {
    padding: 18px 20px;
    font-size: 14px;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  #garantia {
    padding: 20px;
    max-width: 100%;
  }

  #garantia .medal-icon {
    width: 40%;
    padding-top: 22px;

  }

  #garantia .title-1 {
    font-size: 24px;
    overflow: hidden;

  }

  #garantia .paragraph {
    font-size: 18px;
    max-width: 100%;
  }

  #introducao-cta {
    padding: 20px;
    overflow: hidden;

  }

  #introducao-cta .container p {
    font-size: 14px;
    position: relative;
    right: 20px;
  }

  .title-2 {
    font-size: 22px;
    overflow: hidden;
    position: relative;
    right: 20px;
  }

  #introducao-cta .logo-campanha {
    width: 50%;
    z-index: 10;
    position: absolute;
    top: 110rem;
    left: 5rem;
  }

  .cta-card {
    padding: 20px;
    border-radius: 20px;
    max-width: 100%;
    overflow: hidden;
  }

  .cta-card .cta-content .title-3 {
    font-size: 18px;
    position: relative;
    overflow: hidden;
    position: relative;
    top: 3rem;

  }

  .cta-card .cta-content .benefits-list {
    margin: 0;
    padding: 0;
    font-size: 10px;
    position: relative;
    bottom: 11rem;
  }

  .cta-p {
    font-size: 14px;
    overflow: hidden;
    position: relative;
    top: 2rem;

  }

  .cta-pricing {
    font-size: 32px;
    overflow: hidden;
    position: relative;
    top: 1rem;
  }


  .cta-price {
    font-size: 14px;
    overflow: hidden;
    position: relative;
    top: 1rem;

  }

  .cta-card .cta-content .cta-button {
    padding: 10px 15px;
    font-size: 10px;
    position: relative;
    overflow: hidden;
    top: 0.2rem;
  }

  .cta-payment-methods img {
    max-width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0.2rem;
    top: 127.7rem;

  }

  #contato-suporte {
    padding: 8px;
    max-width: 100%;
  }

  #contato-suporte h2 {
    font-size: 20px;
  }

  #contato-suporte p {
    font-size: 14px;
  }

  .contato-card .whatsapp-icon {
    top: 2px;
  }

  #rodape a {
    font-size: 6px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .hero {
    width: 100vw;
    height: 65vh;
    background-image: url('img/wallpaper.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-content {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .hero-content .headline {
    overflow: hidden;
    font-size: 16px;
    max-width: 100%;
  }

  .video-placeholder {
    max-width: 100%;
  }

  .hero-content .video-placeholder iframe {
    height: 210px;
    width: 100%;
  }

  .hero-content .button {
    padding: 15px 20px;
    font-size: 18px;
    max-width: 100%;
    box-sizing: border-box;
  }

  #como-funciona .map-icon {
    width: 20%;
    overflow: hidden;
  }

  #como-funciona {
    padding: 20px;
    max-width: 100%;

  }

  #como-funciona .container h2 {
    font-size: 24px;
    overflow: hidden;
  }

  #como-funciona li {
    font-size: 12px;
    padding: 15px 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }

  #depoimentos {
    padding: 20px;
    max-width: 100%;
  }

  #depoimentos h2 {
    font-size: 16px;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 100px;
  }

  #depoimentos .button-depoimento {
    padding: 18px 20px;
    font-size: 14px;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  #garantia {
    padding: 20px;
    max-width: 100%;
  }

  #garantia .medal-icon {
    width: 40%;
    padding-top: 22px;

  }

  #garantia .title-1 {
    font-size: 24px;
    overflow: hidden;

  }

  #garantia .paragraph {
    font-size: 18px;
    max-width: 100%;
  }

  #introducao-cta {
    padding: 20px;
    overflow: hidden;

  }

  #introducao-cta .container p {
    font-size: 14px;
    position: relative;
    right: 20px;
  }

  .title-2 {
    font-size: 22px;
    overflow: hidden;
    position: relative;
    right: 20px;
  }

  #introducao-cta .logo-campanha {
    width: 50%;
    z-index: 10;
    position: absolute;
    top: 104rem;
    left: 5rem;
  }

  .cta-card {
    padding: 20px;
    border-radius: 20px;
    max-width: 100%;
    overflow: hidden;
  }

  .cta-card .cta-content .title-3 {
    font-size: 18px;
    position: relative;
    overflow: hidden;
    position: relative;
    top: 2.4rem;

  }

  .cta-card .cta-content .benefits-list {
    margin: 0;
    padding: 0;
    font-size: 12px;
    position: relative;
    bottom: 12rem;
  }

  .cta-p {
    font-size: 14px;
    overflow: hidden;
    position: relative;
    top: 2rem;

  }

  .cta-pricing {
    font-size: 32px;
    overflow: hidden;
    position: relative;
    top: 1rem;
  }


  .cta-price {
    font-size: 14px;
    overflow: hidden;
    position: relative;
    top: 1rem;

  }

  .cta-card .cta-content .cta-button {
    padding: 10px 15px;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    top: 0.2rem;
  }

  .cta-payment-methods img {
    max-width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0.2rem;
    top: 122rem;

  }

  #contato-suporte {
    padding: 8px;
    max-width: 100%;
  }

  #contato-suporte h2 {
    font-size: 20px;
  }

  #contato-suporte p {
    font-size: 14px;
  }

  .contato-card .whatsapp-icon {
    top: 2px;
  }

  #rodape a {
    font-size: 6px;
  }
}

@media (min-width: 376px) and (max-width: 430px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .hero {
    width: 100vw;
    height: 65vh;
    background-image: url('img/wallpaper.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-content {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .hero-content .headline {
    overflow: hidden;
    font-size: 24px;
    max-width: 100%;
  }

  .video-placeholder {
    max-width: 100%;
  }

  .hero-content .video-placeholder iframe {
    height: 210px;
    width: 100%;
  }

  .hero-content .button {
    padding: 15px 20px;
    font-size: 24px;
    max-width: 100%;
    box-sizing: border-box;
  }

  #como-funciona .map-icon {
    width: 20%;
    overflow: hidden;
  }

  #como-funciona {
    padding: 20px;
    max-width: 100%;

  }

  #como-funciona .container h2 {
    font-size: 30px;
    overflow: hidden;
  }

  #como-funciona li {
    font-size: 18px;
    padding: 15px 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }

  #depoimentos {
    padding: 20px;
    max-width: 100%;
  }

  #depoimentos h2 {
    font-size: 20px;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 200px;
  }

  #depoimentos .button-depoimento {
    padding: 18px 20px;
    font-size: 20px;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  #garantia {
    padding: 20px;
    max-width: 100%;
  }

  #garantia .medal-icon {
    width: 30%;
    padding-top: 22px;

  }

  #garantia .title-1 {
    font-size: 28px;
    overflow: hidden;

  }

  #garantia .paragraph {
    font-size: 20px;
    max-width: 100%;
  }

  #introducao-cta {
    padding: 20px;
    overflow: hidden;

  }

  #introducao-cta .container p {
    font-size: 18px;
    position: relative;
    right: 20px;
  }

  .title-2 {
    font-size: 22px;
    overflow: hidden;
    position: relative;
    right: 20px;
  }

  #introducao-cta .logo-campanha {
    width: 50%;
    z-index: 10;
    position: absolute;
    top: 134rem;
    left: 6rem;
  }

  .cta-card {
    padding: 20px;
    border-radius: 20px;
    max-width: 100%;
    overflow: hidden;
  }

  .cta-card .cta-content .title-3 {
    font-size: 28px;
    position: relative;
    overflow: hidden;
    position: relative;
    top: 3rem;

  }

  .cta-card .cta-content .benefits-list {
    margin: 0;
    padding: 0;
    font-size: 16px;
    position: relative;
    bottom: 11rem;
  }

  .cta-p {
    font-size: 14px;
    overflow: hidden;
    position: relative;
    top: 3.5rem;

  }

  .cta-pricing {
    font-size: 42px;
    overflow: hidden;
    position: relative;
    top: 2rem;
  }


  .cta-price {
    font-size: 14px;
    overflow: hidden;
    position: relative;
    top: 1.4rem;

  }

  .cta-card .cta-content .cta-button {
    padding: 20px 25px;
    font-size: 26px;
    position: relative;
    overflow: hidden;
    top: 0.2rem;
  }

  .cta-payment-methods img {
    max-width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0.2rem;
    top: 160rem;

  }

  #contato-suporte {
    padding: 20px;
    max-width: 100%;
  }

  #contato-suporte h2 {
    font-size: 20px;
  }

  #contato-suporte p {
    font-size: 14px;
  }

  .contato-card .whatsapp-icon {
    top: 2px;
  }

  #rodape a {
    font-size: 8px;
  }
}

@media (min-width: 431px) and (max-width:560px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .hero {
    width: 100vw;
    height: 65vh;
    background-image: url('img/wallpaper.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-content {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .hero-content .headline {
    overflow: hidden;
    font-size: 24px;
    max-width: 100%;
  }

  .video-placeholder {
    max-width: 100%;
  }

  .hero-content .video-placeholder iframe {
    height: 210px;
    width: 100%;
  }

  .hero-content .button {
    padding: 15px 20px;
    font-size: 24px;
    max-width: 100%;
    box-sizing: border-box;
  }

  #como-funciona .map-icon {
    width: 20%;
    overflow: hidden;
  }

  #como-funciona {
    padding: 20px;
    max-width: 100%;

  }

  #como-funciona .container h2 {
    font-size: 30px;
    overflow: hidden;
  }

  #como-funciona li {
    font-size: 18px;
    padding: 15px 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
  }

  #depoimentos {
    padding: 20px;
    max-width: 100%;
  }

  #depoimentos h2 {
    font-size: 20px;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 200px;
  }

  #depoimentos .button-depoimento {
    padding: 18px 20px;
    font-size: 20px;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  #garantia {
    padding: 20px;
    max-width: 100%;
  }

  #garantia .medal-icon {
    width: 30%;
    padding-top: 22px;

  }

  #garantia .title-1 {
    font-size: 28px;
    overflow: hidden;

  }

  #garantia .paragraph {
    font-size: 20px;
    max-width: 100%;
  }

  #introducao-cta {
    padding: 20px;
    overflow: hidden;

  }

  #introducao-cta .container p {
    font-size: 18px;
    position: relative;
    right: 20px;
  }

  .title-2 {
    font-size: 22px;
    overflow: hidden;
    position: relative;
    right: 20px;
  }

  #introducao-cta .logo-campanha {
    width: 40%;
    z-index: 10;
    position: absolute;
    top: 119rem;
    left: 10rem;
  }

  .cta-card {
    padding: 20px;
    border-radius: 20px;
    max-width: 100%;
    overflow: hidden;
  }

  .cta-card .cta-content .title-3 {
    font-size: 32px;
    position: relative;
    overflow: hidden;
    position: relative;
    top: 5rem;

  }

  .cta-card .cta-content .benefits-list {
    margin: 0;
    padding: 0;
    font-size: 20px;
    position: relative;
    bottom: 9rem;
  }

  .cta-p {
    font-size: 14px;
    overflow: hidden;
    position: relative;
    top: 3.5rem;

  }

  .cta-pricing {
    font-size: 42px;
    overflow: hidden;
    position: relative;
    top: 2rem;
  }


  .cta-price {
    font-size: 14px;
    overflow: hidden;
    position: relative;
    top: 1.4rem;

  }

  .cta-card .cta-content .cta-button {
    padding: 20px 25px;
    font-size: 26px;
    position: relative;
    overflow: hidden;
    top: 0.2rem;
  }

  .cta-payment-methods img {
    max-width: 80%;
    position: absolute;
    overflow: hidden;
    left: 4rem;
    top: 147rem;

  }

  #contato-suporte {
    padding: 20px;
    max-width: 100%;
  }

  #contato-suporte h2 {
    font-size: 20px;
  }

  #contato-suporte p {
    font-size: 14px;
  }

  .contato-card .whatsapp-icon {
    top: 2px;
  }

  #rodape a {
    font-size: 8px;
  }
}
@media (max-width: 770px) {
  .logo-campanha{
    top: 180rem;
  }
}